APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@localhost:5432/app
APP_CONFIG__DB__ECHO=0
APP_CONFIG__PARSER__BASE_URL=http://localhost:8112
APP_CONFIG__PARSER__TIMEOUT_SECONDS=30
APP_CONFIG__CELERY__BROKER_URL=redis://localhost:6379/0
APP_CONFIG__CELERY__RESULT_BACKEND=redis://localhost:6379/1
APP_CONFIG__CELERY__TASK_DEFAULT_QUEUE=parser
APP_CONFIG__CELERY__PERIODIC_PARSE_INTERVAL_SECONDS=300
APP_CONFIG__CELERY__PERIODIC_PARSE_URLS=https://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html
