POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=book_crossing_v2

APP_CONFIG__DB__URL=postgresql+asyncpg://postgres:postgres@db:5432/book_crossing_v2
APP_CONFIG__PARSER__BASE_URL=http://parser:8112
APP_CONFIG__CELERY__BROKER_URL=redis://redis:6379/0
APP_CONFIG__CELERY__RESULT_BACKEND=redis://redis:6379/1

PARSER_DB_URL=postgresql://postgres:postgres@db:5432/book_crossing_v2
