POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=db

APP_CONFIG__DB__URL=postgres
APP_CONFIG__PARSER__BASE_URL=url
APP_CONFIG__CELERY__BROKER_URL=redis
APP_CONFIG__CELERY__RESULT_BACKEND=redis

PARSER_DB_URL=url
